body{
    margin:0;
    --primary : #FFDB5C;
    --secondary: rgba(255,229,136,0.4);
    font-family: "Poppins",sans-serif;
}

.text-grey{
    color: #5F5F5F;
}

#overrides .navbar{
    filter: drop-shadow(0 -2px 10px var(--primary));
}
#overrides .navbar-brand{
    font-family: "Bodoni Moda",sans-serif;
    font-weight: 700;
    color: var(--primary);
    font-size: 3.5em;
}

#overrides .nav-link{
    color:#171717;
    font-size: 1.25em;
    font-weight: 500;
}
#overrides .nav-link:hover{
    color: var(--primary)
}
.form-search{
    border: 2px var(--primary) solid;
    background: #282828;
    display: flex;
    align-items: center;
    border-radius: 31px;
    overflow: hidden;
}

.form-search-input{
    background: inherit;
    border: none;
    width: 25px;
    transition: 0.5s all;
}

.form-search-submit{
    background: inherit;
    border: none;
}

#overrides .login-nav .nav-link{
    color:grey;
}

#overrides .bg-secondary{
    background-color: var(--secondary) !important;
}

#overrides .card{
    width: 80%;
}

.article-desc{
    color: #5F5F5F;
}
.article-capacity{
    color: #5F5F5F;
    font-weight: 600;
}
#overrides .price{
    font-weight: 600;
    font-size: 1.5em;
}

.home{
    background-image: url("../images/aniketh-kanukurthi-Qaor6nxikUM-unsplash.jpg");
    height: 100vh;
    background-size: cover;
}

.titre{
    font-family: "Bodoni Moda";
    text-align: center;
    

    
}

#overrides .big-title{
    color: var(--primary);
    font-size: 169px;
}

.titre h2{
    
}